.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: -webkit-linear-gradient(to left, #e7e9bb, #403b4a);
  background: linear-gradient(to left, #e7e9bb, #403b4a);
}
.greeting__title {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: #e0e2ce;
}
.greeting__image {
  width: 55vw;
}
.greeting__button {
  display: inline-block;
  position: relative;
  width: 40vw;
  height: 10vh;
  border-radius: 5px;
  padding: 10px 25px;
  color: #fff;
  font-family: "Popins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn {
  background: #e7e9bb;
  background: radial-gradient(circle, #d8af52 0%, #403b4a 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn:before,
.btn:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
  box-shadow: -1px -1px 20px 0px rgb(235, 217, 217),
    -4px -4px 5px 0px rgba(255, 255, 255, 1),
    7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}
.btn:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.btn:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.btn:hover {
  background: transparent;
  color: #e7e9bb;
  box-shadow: none;
}
.btn:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.btn:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
